In [1]:
import pandas as pd
import numpy as np
import os

# Importing orders_products_combined Dataframe

In [2]:
# Import path of data
path = r'C:\Users\nikik\17-12-2025 Instacart Basket Analysis'

In [3]:
orders_products_combined = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
# Check the shape of the imported dataframe
orders_products_combined.shape

(32434489, 12)

In [5]:
orders_products_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,0.0,196,1,0,both
1,0,0,2539329,1,1,2,8,0.0,14084,2,0,both
2,0,0,2539329,1,1,2,8,0.0,12427,3,0,both
3,0,0,2539329,1,1,2,8,0.0,26088,4,0,both
4,0,0,2539329,1,1,2,8,0.0,26405,5,0,both

# Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

In [6]:
df_prods= pd.read_csv(os.path.join(path, 'Data','Prepared Data', 'products_checked.csv'),index_col=0)

In [7]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
# Checking the shape
df_prods.shape

(49672, 5)

# Confirming the results of the merge using the merge flag.

In [9]:
#I merged the orders dataset with the products dataset using product_id to add product details to each order.
merged_df = pd.merge(orders_products_combined, df_prods, on = 'product_id', how = 'left', indicator='Match')

In [11]:
merged_df.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,Match
0,0,0,2539329,1,1,2,8,0.0,196,1,0,both,Soda,77.0,7.0,9.0,both
1,0,0,2539329,1,1,2,8,0.0,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,both
2,0,0,2539329,1,1,2,8,0.0,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4,both
3,0,0,2539329,1,1,2,8,0.0,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7,both
4,0,0,2539329,1,1,2,8,0.0,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,both

In [12]:
# dropping merge column in order_products_combined 
orders_products_combined = orders_products_combined.drop(['_merge'], axis=1)

In [13]:
orders_products_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,0,0,2539329,1,1,2,8,0.0,196,1,0
1,0,0,2539329,1,1,2,8,0.0,14084,2,0
2,0,0,2539329,1,1,2,8,0.0,12427,3,0
3,0,0,2539329,1,1,2,8,0.0,26088,4,0
4,0,0,2539329,1,1,2,8,0.0,26405,5,0

In [14]:
orders_products_combined.shape

(32434489, 11)

In [16]:
# Clean merged dataset
df_ords_prods_merge = df_prods.merge(orders_products_combined, on = 'product_id', indicator = True)

In [17]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,764,1,3,13,0.0,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,764,3,4,17,9.0,11,1,both

In [18]:
df_ords_prods_merge.shape

(32404859, 16)

In [20]:
# confirm the results of merge using merge flag
df_ords_prods_merge['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

# Export the newly created dataframe as ords_prods_merge in a suitable format

In [22]:
df_ords_prods_merge.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'ords_prods_merge.pkl'))